body {
    /* Image from https://subtlepatterns.com */
    background-image: url("../images/stonehaven.png");
    
}

header {
/* Consider looking up a new font */
    background: grey;
    text-align: center;
    color: black;
    padding: 10px;
    border-bottom: 3px solid black;
}

h2 {
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

img {
    /* display: block; */
    margin: auto;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.panel-body {
    font-size: 20px;
    float: right;
}

.btn {
    /* Each button corresponds to an answer. */
    margin: auto;
    background-color: blue;
    color: white;
    border: 2px solid black;
    width: 80%;
}

.navbar {
    height: 5px;
    border-top: 3px solid black;
}