body {
  /* Image from https://subtlepatterns.com */
  background-image: url("../images/stonehaven.png");
}

header {
  /* Consider looking up a new font */
  background: grey;
  text-align: center;
  color: black;
  padding: 3px;
  border-bottom: 3px solid black;
}

.container {
  height: 100%;
}

.card-body {
  padding: 10px;
}

.card-text {
  font-size: 25px;
  font-weight: bold;
}

.btn {
  /* Each button corresponds to an answer. */
  border: 2px solid black;
  width: 80%;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
  margin-top: 2%;
  border-top: 2px solid black;
  background: white;
}
